<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a ui-sref="opportunityIndex()" class="btn btn-primary">
            <i class="fa fa-building-o"></i> Inspections
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <div ng-if="opportunities.length == 0" class="alert alert-info" role="alert">
          You currently do not have any inspections associated with your account. Click <strong>New Inspection</strong> to add one.
        </div>
        <table ng-if="opportunities.length > 0" class="table table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="opportunity in opportunities">
              <td><a ui-sref="opportunity.view({opportunityId: opportunity._id})">{{ opportunity.data.status }}</a></td>
              <td>{{ opportunity.data.dueDate1 | amDateFormat:'Do MMM YYYY' }}</td>
            </tr>
          </tbody>
        </table>
        <bgf-pagination collection="opportunities" url="opportunitiesUrl" per-page="5" template-url="./views/pager.html"></bgf-pagination>
      </div>
      <div class="panel-footer">
        <a ui-sref="opportunityCreate()" class="btn btn-primary">
          <i class="glyphicon glyphicon-plus"></i> New Inspection
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a ui-sref="customerIndex()" class="btn btn-primary">
            <i class="fa fa-users"></i> Tenants
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <div ng-if="customers.length == 0" class="alert alert-info" role="alert">
          You currently no tenants associated with this application. Click <strong>New Tenant</strong> to add one.
        </div>
        <table ng-if="customers.length > 0" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Unit</th>
              <th>Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="customer in customers">
              <td><a ui-sref="customer.view({customerId: customer._id})">{{ customer.data.name }}</a></td>
              <td>{{ customer.data.unit }}</td>
              <td>
                <div class="button-group">
                  <a ui-sref="customer.edit({customerId: customer._id})" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                  <a ui-sref="customer.delete({customerId: customer._id})" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <bgf-pagination collection="customers" url="customersUrl" per-page="5" template-url="./views/pager.html"></bgf-pagination>
      </div>
      <div class="panel-footer">
        <a ui-sref="customerCreate()" class="btn btn-primary">
          <i class="fa fa-user-plus"></i> New Tenant
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a ui-sref="contractIndex()" class="btn btn-primary">
            <i class="fa fa-file-text-o"></i> Lease Contracts
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <div ng-if="contracts.length == 0" class="alert alert-info" role="alert">
          You currently do not have any leases associated with your account. Click <strong>New Lease</strong> to add one.
        </div>
        <table ng-if="contracts.length > 0" class="table table-striped">
          <thead>
            <tr>
              <th>Unit</th>
              <th>Tenant</th>
              <th>Termination</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="contract in contracts">
              <td><a ui-sref="contract.view({contractId: contract._id})">{{ contract.data.unit }}</a></td>
              <td>{{ contract.data.tenant }}</td>
              <td>{{ contract.data.terminationDate | amDateFormat:'Do MMM YYYY' }}</td>
            </tr>
          </tbody>
        </table>
        <bgf-pagination collection="contracts" url="contractsUrl" per-page="5" template-url="./views/pager.html"></bgf-pagination>
      </div>
      <div class="panel-footer">
        <a ui-sref="contractCreate()" class="btn btn-primary">
          <i class="glyphicon glyphicon-plus"></i> New Lease
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary" ng-if="isAdmin">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a ui-sref="quoteIndex()" class="btn btn-primary">
            <i class="fa fa-wrench"></i> Maintenance Requests
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <div ng-if="quotes.length == 0" class="alert alert-info" role="alert">
          You currently do not have any maintenance requests. Click <strong>New Maintenance Request</strong> to add one.
        </div>
        <table ng-if="quotes.length > 0" class="table table-striped">
          <thead>
            <tr>
              <th>Area</th>
              <th>Priority</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="quote in quotes">
              <td><a ui-sref="quote.view({quoteId: quote._id})">{{ quote.data.areaUnit }}</a></td>
              <td>{{ quote.data.priority }}</td>
              <td>{{ quote.data.status }}</td>
            </tr>
          </tbody>
        </table>
        <bgf-pagination collection="quotes" url="quotesUrl" per-page="5" template-url="./views/pager.html"></bgf-pagination>
      </div>
      <div class="panel-footer">
        <a ui-sref="quoteCreate()" class="btn btn-primary">
          <i class="glyphicon glyphicon-plus"></i> New Maintenance Request
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary" ng-if="isAdmin">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a ui-sref="agentIndex()" class="btn btn-primary">
            <i class="fa fa-address-card-o"></i> Employees
          </a>
        </h3>
      </div>
      <div class="panel-body">
        <div ng-if="agents.length == 0" class="alert alert-info" role="alert">
          You currently do not have any employees. Click <strong>New Employee</strong> to add one.
        </div>
        <table ng-if="agents.length > 0" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="agent in agents">
              <td><a ui-sref="agent.view({agentId: agent._id})">{{ agent.data.firstName }} {{ agent.data.lastName }}</a></td>
              <td>{{ agent.data.email }}</td>
            </tr>
          </tbody>
        </table>
        <bgf-pagination collection="agents" url="agentsUrl" per-page="5" template-url="./views/pager.html"></bgf-pagination>
      </div>
      <div class="panel-footer">
        <a ui-sref="agentCreate()" class="btn btn-primary">
          <i class="glyphicon glyphicon-plus"></i> New Employee
        </a>
      </div>
    </div>
  </div>
</div>
